@{
    Layout = null;
    ViewData["Title"] = "Login";
}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/PrimerCRUD.styles.css" asp-append-version="true" />
</head>
<body id="body1">
    <div id="LoginDiv">
        <h1>Iniciar sesion</h1>
        <form>
            <h3>Usuario</h3>
            <input type="text" id="LoginInput"/>
            <h3>Contraseña</h3>
            <input type="password" id="LoginInput" />
            <br />
            <input type="radio" id="radio" />
            <label for="radio">Rrcordar Usuario</label>
            <br/>
            <button>Ingresar</button>
            <button asp-controller ="Home" asp-action="Index">Volver</button>
            <br />
            <h4>o</h4>
            <a asp-controller="SingUp" asp-action="Index">Registrarte</a>
        </form>
    </div>
</body>
<footer>
   
</footer>






